---
---

@import 'checkbox';

html{
  background: #033;
  font-family: 'Open Sans', sans-serif;
}

#svg{
  width: 100%;
  height: 60vw;
  max-height:60vh;
}

#bezier{
  width: 100%;
}

.card{
	background: white;
	border-radius: 2px;
	box-shadow: rgba(0, 0, 0, 0.156863) 0px 2px 5px 0px, rgba(0, 0, 0, 0.117647) 0px 2px 10px 0px;
	box-sizing: border-box;
  display: inline-block;
	margin: 10px 5px;
	padding: 20px;
}

#minus-wrapper, #plus-wrapper{
  align-items: center;
  background: #002147;
  color: white;
  cursor: pointer;
  display: flex;
  font-size: 1rem;
  padding: 0 0.2rem;
  vertical-align: middle;
}

#minus, #plus {
  user-select: none;
  -webkit-user-select: none;
}

.one-eighty{
  animation-name: one-eighty-animation;
  animation-duration: 0.5s; // This is used in the Javascript as well.
  animation-timing-function: linear;
  animation-iteration-count: 1;
  font-size: 1rem;
}

@keyframes one-eighty-animation{
from{
  transform: rotate(0deg);
}
to{
  transform: rotate(180deg);
}
}

#minus-wrapper{
  border-radius: 0.2rem 0 0 0.2rem;
}

#plus-wrapper{
  border-radius: 0 0.2rem 0.2rem 0;
}

#duration{
  border-color: #002147;
  border-style: solid;
  border-width: 0.1rem;
  font-size: 1rem;
  padding: 0 1rem;
}

#duration-wrapper{
  display: flex;
}

#controls-container {
  align-items: stretch;
  display: flex;
  justify-content: center;
}

.small-control {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}
